CONFIG_MYD_JA5D2X=y
CONFIG_RAM_512MB=y
CONFIG_DDR3=y
CONFIG_NANDFLASH=y
CONFIG_DEBUG=y
CONFIG_IMG_ADDRESS="0x8000"
# CONFIG_ENTER_NWD is not set
# CONFIG_ACT8865_SET_VOLTAGE is not set
# CONFIG_DISABLE_ACT8865_I2C is not set
